@layer views {
  .view-regulaminy {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    margin: 0 0 var(--space-8) 0;

    &__list {
      display: flex;
      flex-direction: column;
      gap: var(--space-6);

      a {
        color: var(--text);
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }
}